---
layout: default
---
<h2 class="headline">{{site.title}}</h2>
<h3>WRITTEN FOR AMBITIOUS INTROVERTS</h3>
<p>TIPS AND CAREER LESSONS <mark-green>FOR FILIPINOS.</mark-green></p>
<p>UPGRADE YOUR DISCIPLINE, CONFIDENCE, AND COMMUNICATIONS SKILLS.</p>
<p>BUILD YOUR DREAM LIFE USING <mark-green>CALL CENTER INCOME!</mark-green></p>
{% include main-email-list.html %}
{% include main-training-list.html %}
{% include main-cctactics.html %}
{% include main-freelancer-list.html %}
{% include how.html %}
<br>
<footer>
	<br>
<div class="theme" onclick="theme()" style="    background-image: url({{site.baseurl}}/assets/img/theme.svg)"></div>
<br>
</footer>
