<!-- notes -->
<h2>WHAT TO EXPECT</h2>
<p>The goal is to get you comfortable expressing yourself.</p>
<p>I want you to be confident in professional conversations.</p>
<p>I want you to feel at ease during day-to-day conversations.</p>
<p>I will ask you to introduce yourself.</p>
<p>I will give you ideas on how to ask questions.</p>
<p>I will ask you to write instructions.</p>
<p>I will ask you to share stories.</p>
<p>These activities cover over 93% of day-to-day communication.</p>
<p>The first week will be easy.</p>
<p>I’ll ask you to write 15 sentences per activity.</p>
<p>I’ll ask you to write 20 sentences per activity in the second week.</p>
<p>I’ll ask you to write 30 sentences per activity in the third week.</p>
<p>I’ll ask you to write 40 sentences per activity in your fourth week.</p>
<p>I’ll ask you to write 50 sentences per activity in your fifth week.</p>
<p>I’ll ask you to write 100 sentences per activity in your sixth week.</p>
<p>You’ll write over 1,000 sentences at the end of the lesson.</p>
<p>I’ll fix your pronunciation.</p>
<p>We will begin with the top 100 most used English words.</p>
<p>These words are used over 50% of the time.</p>
<p>You’ll always use these words to complete your sentences.</p>