<!-- notes -->
<h2>RULES OF EFFECTIVE COMMUNICATION</h2>
<p>Click link to download the exercise.</p>
<p>We will cover two lessons every week.</p>
<p>You are free to do advance reading.</p>
<p><a href="https://drive.google.com/file/d/1pOn2YAtoBk5xtdly-KDHGnzBrx2f_ZAr/view?usp=sharing">DOWNLOAD: Writing Before Speaking</a></p>
<p><a href="https://drive.google.com/file/d/10Z3KhcQFQZzeCLy6HgGZV6sG91pUAM64/view?usp=sharing">DOWNLOAD:Removing Bad Habits</a</p>
<p><a href="https://drive.google.com/file/d/1dfNBxg9T17yKpS8CO4RB_4A9LlISxIuZ/view?usp=sharing">DOWNLOAD: One-Sentence Paragraph</a></p>
<p><a href="https://drive.google.com/file/d/1ACz08BLtYML_BSQ6tiNP0ECr8Gm38820/view?usp=sharing">DOWNLOAD: Shorten Sentences</a></p>
<p><a href="https://drive.google.com/file/d/1cFWKbH6TpJXOpk52bjg9pl8YPcQ-u1Af/view?usp=sharing">READ: Overused Pronouns</a></p>
<p><a href="https://docs.google.com/document/d/1bOLOtZpwWOpEmtAq8B8fFxihewwB5rqVP0Eu9R7NMv4/edit?usp=sharing">READ: Simplifying Words</a></p>
<p><a href="https://drive.google.com/file/d/1Ki_TAVvz0DCoSAStBG8nujax7HybfS3w/view?usp=sharing">DOWNLOAD: Blanket and Abstract Terms</a></p>
<p><a href="https://callcentertrainingtips.com/specific-samples/">READ: Unspecific Words Examples and Explanation</a></p>
<p><a href="https://callcentertrainingtips.com/confident/">READ: My Secret to Confidence</a></p>
<p><a href="https://drive.google.com/file/d/1XR0xioNOvTCuW3iyVOCpCR4bTAXezYRB/view?usp=sharing">DOWNLOAD: First Person</a></p>
<p><a href="https://drive.google.com/file/d/1AGB_xqVvqe7BJvNmSwmwQ2iczkjOGSBP/view?usp=sharing">DOWNLOAD: Listing Options</a></p>
<p><a href="https://drive.google.com/file/d/19Qv1J5KBjcX1X2TxeQaBkcsM7KcEtBTU/view?usp=sharing">DOWNLOAD: Read Aloud</a></p>
<p><a href="https://drive.google.com/file/d/1VIsl4-XbYrYeJBGWgEx3RM4LF1KTh79n/view?usp=sharing">DOWNLOAD: Rewriting</a></p>
<p><a href="https://callcentertrainingtips.com/shy-book">UPGRADE: PRACTICAL CALL CENTER JOB HUNTING STRATEGIES</a></p>
<p>MORE COMING SOON!!!</p>