<!-- About or introduction code -->
<h3>WHO IS KEVIN?</h3>
<p>We help introverts like you develop confidence the skills to qualify for your dream job.</p>

<p><img src="{{ site.url }}/assets/img/2019-07-Kevin-Gray.jpg" width="150"> My name is Kevin Olega.</p>
<p>I'm a project manager for a US-based IT company and HR services firm. </p>
<p>Before that, I'm a top agent at West Contact Services and a consistent CSAT and TSR awardee at Comcast.</p>
<p>I was also an online English teacher, academic tutor, and sales trainer.</p>
<p>These are my stories on getting a job, building confidence, personal improvement, skills training, and communication skills.</p>