<!-- Announcents code -->
<h2>ACCESS 1,000 FREE LESSONS</h2>
<p><img src="{{ site.url }}/assets/img/FREE TRAINING.png)"></p>
<p>The website callcentertrainingtips.com is part of my community service.</p>
<p>I share over a thousand free lessons on this website.</p>
<p>I share free lessons on our <a href="https://facebook.com/callcentertrainingtips">Facebook Page</a>.</p>
<p>I also record and post <a href="https://youtube.com/callcentertrainingtips?sub_confirmation=1">video lessons</a>.</p>
<p>I built <a href="https://callcentertrainingtips.com/free">several different email modules</a>.</p>
<p>You'll receive lessons and practical exercises via email to upgrade your skills.</p>
<p>I answer questions on chat and email as you self-study.</p>
<p>Please remember to stay polite and be patient as I get hundreds of messages a week from other people asking for help.</p>