<!-- notes -->
<h2>PLEASE REMEMBER TO CLICK CONFIRM</h2>
<p>We sent the guide to the email address you provided.</p>
<p>Remember to mark kevin@callcentertrainingtips.com as a "safe sender" with your email provider, so you get all of the education we'll be sending you!</p>
<p>Please check your email and confirm access.</p>
<p>We'll send you the free lessons within the day.</p>
<p><img src="{{ site.url }}/assets/img/confirm-email.png"></p>
<h3>Didn't get the email?</h3>
<p>Go to your email to check your promotions, spam, or junk folder, and verify that you entered a valid email address.</p>
<p>If you do not receive our confirmation email in the next two hours, please <a href="https://callcentertrainingtips.com/contact">contact us</a>.</p>