<h2>ENROLLMENT INFO:</h2>
<p>Please send the confirmation reference after making the payment.</p>
<p>Please send us your:</p>
<ol>
	<li>Email address</li>
	<li>Complete Name</li>
	<li>Phone Number for the weekly coaching calls.</li>
	<li>Best day and time to call. </li>
</ol>
<p>Buy a notebook and pen.</p>
<p>Please download and install Google Docs on your smartphone.</p>
<p>Please remember to write daily for your practice.</p>
<p>We'll send you lessons 1-7 first.</p>
<p>We will schedule phone coaching after you complete the writing exercises.</p>
<p>We will discuss your answers to the writing exercises.</p>
<p>We will coach you on your pronunciation.</p>
<p>We will answer your questions.</p>
<p>We will send you the next batch of activities after you complete the current set of writing tasks.</p>
<p><img src="{{ site.url }}/assets/img/2020-07-01-three-hundred.png" width="400"></p>
<p><a href="https://www.facebook.com/callcentertrainingtips/">CLICK HERE TO ASK QUESTIONS</a></p>