<h2>ENROLLMENT INFO:</h2>
<p>Please send the confirmation reference after making the payment.</p>
<p>Submit your:</p>
<ol>
	<li>Email address</li>
	<li>Complete Name</li>
	<li>Phone Number for the weekly coaching.</li>
	<li>Best day and time to call. </li>
</ol>
<p>Buy a notebook and pen.</p>
<p>Install Google Docs on your smartphone.</p>
<p>We'll send lessons 1-7 first.</p>
<p>Practice writing daily.</p>
<p>We schedule coaching and send the next module after you complete the module.</p>
<p>We'll discuss your answers to the writing exercises, correct your pronunciation, and answer your questions.</p>
<p><img src="{{ site.url }}/assets/img/2020-07-01-three-hundred.png" width="400"></p>
<p><a href="https://www.facebook.com/callcentertrainingtips/">CLICK HERE TO ASK QUESTIONS</a></p>