<h2>MOST IMPORTANT LESSONS:</h2>
<p>IMPORTANT!!! READ THIS FIRST!!!</p>
<details>
    <summary>Read more</summary>
<p>Please download and read this before answering the lessons.</p>
<p><strong>Removing Bad Habits - <a href="https://drive.google.com/file/d/1EolrQN644nNWg49d5ifHa4E1LG_EYTzm/view?usp=sharing">DOWNLOAD</a></strong></p>
<p><strong>READ: WRITING BEFORE SPEAKING - <a href="https://drive.google.com/file/d/1pOn2YAtoBk5xtdly-KDHGnzBrx2f_ZAr/view?usp=sharing">DOWNLOAD</a>
</strong></p>
<p><strong><a href="https://youtube.com/callcentertrainingtips?sub_confirmation=1">SUBSCRIBE TO MY YOUTUBE CHANNEL</a></strong></p>
<h2>WATCH THIS VIDEO</h2>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/JXVe3t5tTo0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p>Watch the video until the end.</p>
<p>Let me know that you're done.</p>
<p><a href="https://youtu.be/JXVe3t5tTo0">LEAVE A COMMENT</a>.</p>
</details>