<h2>MOST IMPORTANT LESSONS:</h2>
<p>IMPORTANT!!! READ FIRST!!!</p>
<details>
    <summary>Read more</summary>

<p>Please download and read this before answering the lessons.</p>
<p><strong>Removing Bad Habits - <a href="https://drive.google.com/file/d/10Z3KhcQFQZzeCLy6HgGZV6sG91pUAM64/view?usp=sharing">DOWNLOAD</a></strong></p>
<p><strong>READ: WRITING BEFORE SPEAKING - <a href="https://drive.google.com/file/d/1pOn2YAtoBk5xtdly-KDHGnzBrx2f_ZAr/view?usp=sharing">DOWNLOAD</a>
</strong></p>
<p>Research the Feynman Technique. <a href="https://minimalchanges.com/feynman">Read my explanation on the Feynman Technique</a>.</p>
<p></p>
<p><strong>Write in Filipino when you're stuck - <a href="https://drive.google.com/file/d/117PCpIl0PBJVGHSkKuraTfDrV9vwFQSS/view?usp=sharing">READ LESSON</a></strong></p>
<p><strong>Most Common Beginner Grammar Mistakes</strong></p>
<p>Watch this video until the end.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/xUe_mOFkm84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p>Please let me know that you finished watching the video by leaving a <a href="https://youtu.be/xUe_mOFkm84">comment about what you learned</a>.</p>
<p><a href="https://callcentertrainingtips.com/fixthis">Read about how to fix the most common beginner grammar mistakes.</p>
<p><strong><a href="https://youtube.com/callcentertrainingtips?sub_confirmation=1">SUBSCRIBE TO MY YOUTUBE CHANNEL</a></strong></p>
<h2>WATCH THIS VIDEO ABOUT SHORTENING SENTENCES</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/JXVe3t5tTo0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Watch the video until the end and let me know that you're done by leaving a comment and <a href="https://youtu.be/JXVe3t5tTo0">explain what you learned</a>.</p>
</details>