<h2>JANUARY COACHING PROMO:</h2>
<p>New Year, New You!</p>
<p>Get MORE SESSIONS to create the MOST EXCITING 2022.</p>
<p>₱557 trial version. 11 lessons. 1 + 1 coaching session. SAVE ₱557</p>
<p>₱799 for two weeks - 22 lessons. 2 + 1 coaching sessions. SAVE ₱872!</p>
<p>₱1,099 for four weeks - 44 lessons. 4 + 2 coaching sessions. SAVE ₱2,243!</p>
<p>₱1,599 for six weeks - 66 lessons. 6 + 4 coaching sessions. Limited Slots - SAVE ₱3,971!</p>
<p>₱2,357/month 40 lessons 4 + 2 dedicated coaching sessions. Bonus Training and Extenede Lessons. LIMITED SLOTS  - SAVE ₱4,327</p>
<p>One-time payment - valid until January 31, 2021.</p>
<p>New price will be announced this February.</p>
<p>Reserve a slot TODAY!!!</p>