<h2>JANUARY COACHING PROMO:</h2>
<p>New Year, New You! The MOST EXCITING 2022!</p>
<p>Get MORE SESSIONS!</p>
<p>₱557 trial promo. 11 lessons and 1 coaching session.</p>
<p>+ 1 bonus session. SAVE ₱557</p>
<p>₱799 for two weeks - 22 lessons. 2 + 1 coaching sessions.</p>
<p>+ 1 bonus session. SAVE ₱872!</p>
<p>₱1,099 for four weeks - 44 lessons. 4 coaching sessions.</p>
<p>+ 2 bonus sessions. Save ₱2,243!</p>
<p>₱1,599 for six weeks - 66 lessons. 6 coaching sessions. Limited Slots! </p>
<p>+ 4 bonus sessions. Save ₱3,971!</p>
<p>₱2,357 a month 40 lessons 4 dedicated coaching sessions.</p>
<p>+ 2 Bonus Training and Extened Lessons. LIMITED SLOTS - SAVE ₱4,327</p>
<p>One-time payment - valid until January 31, 2021.</p>
<p>Reserve a slot TODAY!!!</p>
<p>New price will be announced this February.</p>