<h2>REMINDERS</h2>
<details>
    <summary>Read more</summary>

<p>Please read all the lessons and instructions carefully.</p>
<p>Please answer all the activities.</p>
<p>Please follow the one-sentence paragraph format when you submit your answers. </p>
<p>The one-sentence paragraph format is explained in the lessons Removing Bad Habits and One-Sentence Paragraph on Lesson 6.</p>
<p>The minimum number of sentences for most of the writing exercises is fifteen sentences.</p>
<p>We record a video of your phone coaching session for training purposes.</p>
<p>We publish some of the coaching sessions to our YouTube channel.</p>
<p>We inspect your answers one sentence at a time during the coaching session.</p>
<p>We would like to avoid publishing our student's private information.</p>
<p>Please do not include personal info like your complete name, and complete address in your answers.</p>
<p>Your first name or nickname is fine for all of our questions.</p>
<p>Do not say: My name is James Kevin Olega. You may call me Kevin for short.</p>
<p>Say: My name is Kevin.</p>
<p>Do not say: I live in 123 Paper Street BF Homes Sucat Parañaque City.</p>
<p>Say: I live in Parañaque City.</p>
<p>The second example sounds more confident.</p>
<p>Please remember to:</p>
<ol>
	<li>Follow the One Sentence Paragraph Format</li>
	<li>Shorten your sentences. Your sentence needs to have only one idea.</li>
	<li>Write complete sentences.</li>
	<li>Run your answers through a spelling and grammar check program. We use <a href="https://grammarly.com">Grammarly</a>.</li>
	<li>Read your answers aloud before submitting.</li>
	<li>Use simple words.</li>
</ol>
<p><strong>English became more exhibition instead of communication back in junior and senior high school.</strong></p>
<p>Your English needs to focus on communication instead of exhibition to succeed as a professional.</p>
<p>Your goal is to convey simple messages.</p>
<p><strong>AVOID:</strong></p>
<ol>
	<li>Big paragraphs.</li>
	<li>Compound, complex, and long, compound-complex sentences.</li>
	<li>Fancy or complicated words.</li>
</ol>
<p>Our goal is to reinforce your understanding of the basic rules.</p>
<p>You can go back to adding flair to your communication after you've mastered the basics.</p>
<p>Please read REMOVING BAD HABITS as many times as you need.</p>
<p>Send us an email for questions.</p>
</details>