<!-- notes -->
<h2>ENGLISH LESSONS REMINDERS</h2>
<ol>
	<li>Use Google Drive to share your answers.</li>
	<li>Answer all the questions. </li>
	<li>Follow the required minimum number of sentences.</li>
	<li>Send us a message if you have questions.</li>
	<li>Inform us when you are done.</li>
	<li>We will check all of your answers.</li>
	<li>The admin will schedule your phone coaching session after you complete the writing exercises.</li>
	<li>We will let you know if you need to repeat an activity.</li>
	<li>Please complete the activities within the limited training period to avoid expiration and additional fees.</li>
	<li>We discovered that students who skip writing longer than three days do not graduate from the program.</li>
	<li><strong>Do your best to write every day.</strong></li>
</ol>