<!-- Featured lessons code -->
<!-- Include four videos -->
<h3>FEATURED VIDEO LESSONS</h3>
<p><strong>PRACTICAL STEPS ON HOW TO BECOME FLUENT AT SPEAKING ENGLISH</strong></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/9wKHtEAzmqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p><strong>CALL CENTER BASICS - EVERYTHING YOU NEED TO GET HIRED IN A CALL CENTER</strong></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/2okEFFLiXPI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p><strong>PRONUNCIATION PRACTICE - TOP 100 WORDS</strong></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/xBFxOATikEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><strong>MOCK CALL TRAINING - CUSTOMER SERVICE SENTENCES</strong></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/_D3er4rmPlg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>