<!-- footer links code -->
<footer>
    <div class="links">
        <a href="https://callcentertrainingtips.com">Home</a>
        <a href="{{site.baseurl}}/lessons">Lessons</a>
        <a href="{{site.baseurl}}/videos/">Videos</a>
        <a href="{{site.baseurl}}/about/">About</a>
        <a href="{{site.baseurl}}/contact/">Contact</a>
        <a href="{{site.baseurl}}/support/">Support</a>
        <a href="{{site.baseurl}}/promos/">Promos</a>
        <a href="{{site.baseurl}}/books">Books</a>
        <a href="{{site.baseurl}}/testimonials/">Testimonials</a>
        <a href="{{site.baseurl}}/directory/">DIRECTORY</a>
    </div>
    <div class="theme" onclick="theme()" style="    background-image: url({{site.baseurl}}/assets/img/theme.svg)"></div>
</footer>