  <header>
      <a href="{{site.baseurl}}/"><div class="home"></div></a>
         <div class="links">
        <a href="https://callcentertrainingtips.com">HOME</a>
        <a href="{{site.baseurl}}/lessons">LESSONS</a>
        <a href="{{site.baseurl}}/videos/">VIDEOS</a>
        <a href="{{site.baseurl}}/about/">ABOUT</a>
        <a href="{{site.baseurl}}/contact/">CONTACT</a>
        <a href="{{site.baseurl}}/promos/">TRAINING</a>
        <a href="{{site.baseurl}}/books">BOOKS</a>
    </div>
  </header>