<!-- History copy Code -->
<p>I've been helping friends get hired since 2005.</p>
<p>I worked for the first call center school in Manila.</p>
<p>I made money conducting training and tutorial service.</p>
<p>I started Call Center Training Tips dot com in 2011.</p>
<p>We helped thousands of Filipinos get hired in a call center.</p>
<p>I’m an introvert that always had trouble communicating with confidence.</p>
<p>I began working at 17 as a promodizer earning below minimum wage.</p>
<p>I worked in real estate, financial, then corporate sales.</p>
<p>My last call center job was in 2013.</p>
<p>I was top agent in the call center for three years.</p>
<p>I became a freelancer, professional writer, VA, and eventually project manager.</p>
<p>I share my lessons freely because I'm trying to meet interesting people.</p>