<!-- CTA buttons code -->
<h2>WHAT DO YOU WANT?</h2>
<p>We created solutions for different problems.</p>
<p>Please select from one of the options.</p>
<br>
<a href="https://sendfox.com/lp/3z4xqz" class="button focus">I WANT CALL CENTER KNOWLEDGE</a>
<br>
<br>
<a href="https://callcentertrainingtips.com/english-lessons" class="button focus">I WANT TO IMPROVE MY ENGLISH</a>
<br>
<br>
<a href="https://callcentertrainingtips.com/sbb-book/" class="button focus">I WANT TO BECOME CONFIDENT</a>
<br>
<br>
<a href="https://callcentertrainingtips.com/night-shift-book" class="button focus">I WANT TO BE A TOP AGENT</a>
<br>
<br>