<!-- Night Shift Book Page 1 NOTES -->
<h2>HOW TO SURVIVE NIGHT SHIFT WORK SCHEDULE</h2>
<p><strong>A NEW CALL CENTER AGENT'S GUIDE TO WORKING, SLEEPING, AND THRIVING WITH NIGHT SHIFT WORK HOURS</strong></p>
<p><a href="https://callcentertrainingtips.com/night-shift-book"><img src="/assets/img/Night Shift Book Cover-Sample.png" width="350"></a></p>
<p>The title says it all.</p>
<p>Click the button to download a free copy.</p>
<p><a href="https://callcentertrainingtips.com/night-shift-book">FREE BOOK INFORMATION</a></p>
<p><a href="https://sendfox.com/lp/1g6pd2" class="button focus">FREE DOWNLOAD</a></p>