<!-- notes -->
<h2>SUBMITTING YOUR ANSWERS</h2>
<details>
    <summary>Read more</summary>

<p>Submit your answers using Google Docs.</p>
<p>I will give feedback directly on your on the file.</p>
<p>Share the file to callcentertrainingtips@gmail.com</p>
<p>If you have Gmail, you already have Google Docs. </p>
<p>Visit <a href="https://drive.google.com">https://drive.google.com</a> and create a new document.</p>
<p>If you're using a mobile device, Google Docs is available on both <a href="https://apps.apple.com/us/app/google-docs-sync-edit-share/id842842640">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.docs.editors.docs&hl=en&gl=US">Android</a>.</p>
<p><strong>WATCH THIS GUIDE:</strong></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/1OSLCxKX11U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p>Watch the video until the end.</p>
<p>Let me know that you're done.</p>
<p><a href="https://youtu.be/1OSLCxKX11U">LEAVE A COMMENT</a>.</p>
</details>
