<!-- Call Center Basicsnotes -->
<h2>BECOME A SUCCESSFUL ONLINE FREELANCER</h2>
<p>I created a short email series where I teach how to make money online.</p>
<p>You'll get the lessons and training materials sent to your email.</p>
<p>I answer questions via email as you self-study.</p>
<p>Please be patient and polite as I get hundreds of messages a week from other people asking for help.</p>
<p><a href="https://callcentertrainingtips.com/upwork" class="button focus">GET ONLINE FREELANCER BASICS</a></p>