<h2>LESSON 1</h2>
<details>
    <summary>Read more</summary>

<p>15 Sentence Introductions</p>
<p>Answer with a minimum of 15 sentences.</p>
<p><a href="https://drive.google.com/file/d/1_K2OUYFgWtJP4Mu7SWKW-PBSqBlJGfFV/view?usp=sharing">DOWNLOAD</a></p>
<p>PREVIEW:</p>
<ul><li>My name is Kevin</li>
    <li>I used to work as.</li>
    <li>I used to work for.</li>
</ul>
<p>Watch the video until the end.</p>
<p>Let me know that you finished watching the video.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/Ju9H7ZEbn5g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><a href="https://youtu.be/Ju9H7ZEbn5g">LEAVE A COMMENT</a>.</p>
</details>