<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>---.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>556644998.60955596</real>
				<key>lastModification</key>
				<real>556644998.60955596</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2012-06-15-call-center-interview-questions-and-suggested-answers.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185697</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-06-15-welcome.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189404</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-07-18-how-far-will-attitude-and-skills-take-you.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189297</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-08-09-how-to-write-a-resume-for-call-center-application.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189297</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-08-22-how-to-connect-your-strength-weakness-or-experience-to-why-you-want-to-work-in-a-call-center.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189297</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-09-02-what-can-a-shy-person-do.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189201</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-09-10-call-center-job-interview-preparation-questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189201</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-09-18-how-to-turn-a-disadvantage-into-a-perk.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189094</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-09-18-solve-problems-by-offering-solutions.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189094</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-09-20-how-to-build-a-call-center-resume-from-scratch-no-work-experience.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188999</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-09-25-six-things-i-did-right-that-got-me-hired-in-a-call-center.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188999</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-10-02-how-to-level-up-and-get-hired-in-a-call-center.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188999</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-10-08-how-to-overcome-your-super-shy-self-with-one-exercise.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188903</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-10-13-ten-small-things-that-give-me-an-advantage-when-looking-for-work.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188903</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-10-18-practice-english-at-a-drinking-session.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188796</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-10-22-27-tips-to-help-you-get-hired-in-a-call-center.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188796</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-10-23-how-to-have-super-powers.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188796</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-12-26-reader-submitted-tips-from-waiter-to-call-center-agent.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188701</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-02-23-how-to-prepare-for-opportunities.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188701</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-03-21-better-opportunities-best-answers-neat-resume-and-remember-details.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188605</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-03-25-what-good-call-center-companies-are-hiring-in-manila-where-do-i-apply-first.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188605</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-04-16-how-to-level-up.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188498</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-05-01-how-to-answer-tell-me-something-about-yourself-questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188498</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-05-09-how-to-sound-smarter-when-you-answer-questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188498</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-05-21-after-this-my-next-try-will-be-better-than-the-last-one.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188403</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-07-09-you-are-awesome.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188403</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-07-18-what-makes-me-different.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188403</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-07-25-be-a-positive-problem-solver.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188295</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-10-22-how-to-answer-difficult-interview-questions-if-you-have-low-self-esteem.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188295</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-01-06-how-to-have-an-awesome-year-working-in-a-call-center.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188295</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-01-17-my-pronunciation-cheat-sheet.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.081882</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-01-20-ask-your-interviewer-to-explain-the-job-application-process.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.081882</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-11-use-sir-or-maam-to-increase-your-confidence.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.081882</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-17-use-delaying-tactics-when-you-dont-have-a-ready-answer.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188105</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-19-why-you-should-say-challenge-accepted.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188105</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-25-how-to-become-an-expert-call-center-agent-by-knowing-the-basics.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08188105</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-26-continue-to-refine-your-pronunciation-after-you-get-hired.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187997</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-04-why-limitations-are-opportunities-for-growth-and-creativity.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187997</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-25-why-asking-questions-and-small-talk-are-important-in-interviews.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187902</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-28-before-you-spend-time-looking-for-easy-call-centers.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187902</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-29-tell-your-interviewer-amazing-stories-that-make-you-stand-out-this-resume-exercise-teaches-you-how.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187902</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-13-from-the-tip-collection.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187795</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-21-call-center-job-application.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187795</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-21-how-to-get-hired-in-a-call-center-if-you-have-no-money.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187795</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-27-four-lessons-that-allowed-me-to-land-any-job-i-want-and-how-you-can-too.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187699</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-10-the-most-important-question-you-need-to-ask-your-call-center-interviewer.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187699</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-16-five-tips-to-improve-your-communication-skills.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187699</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-07-03-10-small-things-that-you-can-do-to-get-hired-over-other-superior-job-applicants.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187604</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-03-how-to-solve-any-problem.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187604</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-10-how-to-analyze-habits-and-think-like-a-boss.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187497</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-12-15-training-sucks-but-winning-is-everything.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187497</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-01-05-how-to-conquer-shyness.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187497</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-01-12-how-to-develop-confidence-and-good-habits.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187401</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-01-19-learning-confidence.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187401</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-01-26-learn-fluent-english.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187401</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-02-23-impossible-means-small-steps-every-day.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187306</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-02-how-to-increase-willpower.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187306</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-12-how-to-break-through-life-challenges.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187306</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-13-how-to-get-consistent-good-customer-feedback.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187199</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-20-what-is-is-pumasok-ka-pa-performance.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187199</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-05-01-performer-spectator.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187199</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-09-how-one-small-change-a-day-got-me-a-top-agent-award.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187103</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-08-26-do-you-have-good-or-bad-english.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08187103</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-04-solution-focus.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186996</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-05-master-your-mind-by-learning-about-your-self-talk.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186996</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-13-how-to-exit-call-center-work.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186996</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-17-learning-steps.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186805</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-18-master-your-mind-by-learning-about-your-negative-self-talk.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186805</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-09-prospecting.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186805</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-23-be-proactive-instead-of-reactive.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186698</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-28-deadpool.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186698</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-29-how-to-set-goals.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186698</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-16-thoughts-on-career-advancement.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186698</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-23-avoid-fillers-and-answer-every-question-with-delaying-tactics.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186603</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-14-best.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186603</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-28-answer-questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186495</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-11-examples-of-words-with-silent-letters.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186495</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-13-you-need-energy-to-succeed.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186495</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-14-how-to-pass-call-center-training.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.081864</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-20-how-to-start-improving-your-english-skills.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.081864</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-25-right-questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.081864</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-26-memorize-interview.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.081864</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-27-how-to-get-your-desired-salary.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186305</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-02-get-advice-from-right-people.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186305</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-03-spend.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186197</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-06-milestones.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186197</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-07-advantages.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186197</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-10-improvement.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186102</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-18-job-application-reality.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08186102</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-28-thirty-one.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185995</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-13-complete-goals.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185995</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-13-random-questions.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185995</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-28-missed-opportunities.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185899</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-05-bully.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185899</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-01-call-simulation-call-flow-elements.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185804</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-09-hundreds-of-job-application-lessons-from-lifehacker.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185804</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-10-complete-money.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08185804</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-10-10-smart-notebook.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189404</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-01-11-dream-job.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189499</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-01-19-find-good.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189499</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-01-26-arrogance.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189499</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-25-Final-Interview-FIL.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189595</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-03-04-Count-Blessings.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189595</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-03-28-Basics.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189702</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-03-28-English-Tips.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189702</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-03-28-Job-Application.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189702</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-03-29-recommended-podcasts.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189797</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-06-24-personality-test.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189797</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-06-29-beginner-tips.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189905</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-07-05-smarthpone-shyness.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08189905</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-07-11-call-simulation.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.0819</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-07-17-small.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.0819</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-08-13-deserve-skills.md</key>
			<dict>
				<key>lastModification</key>
				<real>556644907.08190095</real>
				<key>version</key>
				<dict>
					<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>---.md</string>
		</array>
		<array>
			<string>2012-06-15-call-center-interview-questions-and-suggested-answers.md</string>
		</array>
		<array>
			<string>2017-04-10-complete-money.md</string>
		</array>
		<array>
			<string>2017-04-09-hundreds-of-job-application-lessons-from-lifehacker.md</string>
		</array>
		<array>
			<string>2017-03-01-call-simulation-call-flow-elements.md</string>
		</array>
		<array>
			<string>2016-12-05-bully.md</string>
		</array>
		<array>
			<string>2016-11-28-missed-opportunities.md</string>
		</array>
		<array>
			<string>2016-11-13-random-questions.md</string>
		</array>
		<array>
			<string>2016-11-13-complete-goals.md</string>
		</array>
		<array>
			<string>2016-10-28-thirty-one.md</string>
		</array>
		<array>
			<string>2016-07-18-job-application-reality.md</string>
		</array>
		<array>
			<string>2016-07-10-improvement.md</string>
		</array>
		<array>
			<string>2016-07-07-advantages.md</string>
		</array>
		<array>
			<string>2016-07-06-milestones.md</string>
		</array>
		<array>
			<string>2016-07-03-spend.md</string>
		</array>
		<array>
			<string>2016-06-02-get-advice-from-right-people.md</string>
		</array>
		<array>
			<string>2016-05-27-how-to-get-your-desired-salary.md</string>
		</array>
		<array>
			<string>2016-05-26-memorize-interview.md</string>
		</array>
		<array>
			<string>2016-05-25-right-questions.md</string>
		</array>
		<array>
			<string>2016-05-20-how-to-start-improving-your-english-skills.md</string>
		</array>
		<array>
			<string>2016-05-14-how-to-pass-call-center-training.md</string>
		</array>
		<array>
			<string>2016-05-13-you-need-energy-to-succeed.md</string>
		</array>
		<array>
			<string>2016-05-11-examples-of-words-with-silent-letters.md</string>
		</array>
		<array>
			<string>2016-04-28-answer-questions.md</string>
		</array>
		<array>
			<string>2016-04-14-best.md</string>
		</array>
		<array>
			<string>2016-02-23-avoid-fillers-and-answer-every-question-with-delaying-tactics.md</string>
		</array>
		<array>
			<string>2016-02-16-thoughts-on-career-advancement.md</string>
		</array>
		<array>
			<string>2016-01-29-how-to-set-goals.md</string>
		</array>
		<array>
			<string>2016-01-28-deadpool.md</string>
		</array>
		<array>
			<string>2016-01-23-be-proactive-instead-of-reactive.md</string>
		</array>
		<array>
			<string>2015-10-09-prospecting.md</string>
		</array>
		<array>
			<string>2015-09-18-master-your-mind-by-learning-about-your-negative-self-talk.md</string>
		</array>
		<array>
			<string>2015-09-17-learning-steps.md</string>
		</array>
		<array>
			<string>2015-09-13-how-to-exit-call-center-work.md</string>
		</array>
		<array>
			<string>2015-09-05-master-your-mind-by-learning-about-your-self-talk.md</string>
		</array>
		<array>
			<string>2015-09-04-solution-focus.md</string>
		</array>
		<array>
			<string>2015-08-26-do-you-have-good-or-bad-english.md</string>
		</array>
		<array>
			<string>2015-07-09-how-one-small-change-a-day-got-me-a-top-agent-award.md</string>
		</array>
		<array>
			<string>2015-05-01-performer-spectator.md</string>
		</array>
		<array>
			<string>2015-04-20-what-is-is-pumasok-ka-pa-performance.md</string>
		</array>
		<array>
			<string>2015-04-13-how-to-get-consistent-good-customer-feedback.md</string>
		</array>
		<array>
			<string>2015-03-12-how-to-break-through-life-challenges.md</string>
		</array>
		<array>
			<string>2015-03-02-how-to-increase-willpower.md</string>
		</array>
		<array>
			<string>2015-02-23-impossible-means-small-steps-every-day.md</string>
		</array>
		<array>
			<string>2015-01-26-learn-fluent-english.md</string>
		</array>
		<array>
			<string>2015-01-19-learning-confidence.md</string>
		</array>
		<array>
			<string>2015-01-12-how-to-develop-confidence-and-good-habits.md</string>
		</array>
		<array>
			<string>2015-01-05-how-to-conquer-shyness.md</string>
		</array>
		<array>
			<string>2014-12-15-training-sucks-but-winning-is-everything.md</string>
		</array>
		<array>
			<string>2014-11-10-how-to-analyze-habits-and-think-like-a-boss.md</string>
		</array>
		<array>
			<string>2014-11-03-how-to-solve-any-problem.md</string>
		</array>
		<array>
			<string>2014-07-03-10-small-things-that-you-can-do-to-get-hired-over-other-superior-job-applicants.md</string>
		</array>
		<array>
			<string>2014-06-16-five-tips-to-improve-your-communication-skills.md</string>
		</array>
		<array>
			<string>2014-06-10-the-most-important-question-you-need-to-ask-your-call-center-interviewer.md</string>
		</array>
		<array>
			<string>2014-05-27-four-lessons-that-allowed-me-to-land-any-job-i-want-and-how-you-can-too.md</string>
		</array>
		<array>
			<string>2014-05-21-how-to-get-hired-in-a-call-center-if-you-have-no-money.md</string>
		</array>
		<array>
			<string>2014-05-21-call-center-job-application.md</string>
		</array>
		<array>
			<string>2014-05-13-from-the-tip-collection.md</string>
		</array>
		<array>
			<string>2014-04-29-tell-your-interviewer-amazing-stories-that-make-you-stand-out-this-resume-exercise-teaches-you-how.md</string>
		</array>
		<array>
			<string>2014-04-28-before-you-spend-time-looking-for-easy-call-centers.md</string>
		</array>
		<array>
			<string>2014-04-25-why-asking-questions-and-small-talk-are-important-in-interviews.md</string>
		</array>
		<array>
			<string>2014-04-04-why-limitations-are-opportunities-for-growth-and-creativity.md</string>
		</array>
		<array>
			<string>2014-03-26-continue-to-refine-your-pronunciation-after-you-get-hired.md</string>
		</array>
		<array>
			<string>2014-03-25-how-to-become-an-expert-call-center-agent-by-knowing-the-basics.md</string>
		</array>
		<array>
			<string>2014-03-19-why-you-should-say-challenge-accepted.md</string>
		</array>
		<array>
			<string>2014-03-17-use-delaying-tactics-when-you-dont-have-a-ready-answer.md</string>
		</array>
		<array>
			<string>2014-03-11-use-sir-or-maam-to-increase-your-confidence.md</string>
		</array>
		<array>
			<string>2014-01-20-ask-your-interviewer-to-explain-the-job-application-process.md</string>
		</array>
		<array>
			<string>2014-01-17-my-pronunciation-cheat-sheet.md</string>
		</array>
		<array>
			<string>2014-01-06-how-to-have-an-awesome-year-working-in-a-call-center.md</string>
		</array>
		<array>
			<string>2013-10-22-how-to-answer-difficult-interview-questions-if-you-have-low-self-esteem.md</string>
		</array>
		<array>
			<string>2013-07-25-be-a-positive-problem-solver.md</string>
		</array>
		<array>
			<string>2013-07-18-what-makes-me-different.md</string>
		</array>
		<array>
			<string>2013-07-09-you-are-awesome.md</string>
		</array>
		<array>
			<string>2013-05-21-after-this-my-next-try-will-be-better-than-the-last-one.md</string>
		</array>
		<array>
			<string>2013-05-09-how-to-sound-smarter-when-you-answer-questions.md</string>
		</array>
		<array>
			<string>2013-05-01-how-to-answer-tell-me-something-about-yourself-questions.md</string>
		</array>
		<array>
			<string>2013-04-16-how-to-level-up.md</string>
		</array>
		<array>
			<string>2013-03-25-what-good-call-center-companies-are-hiring-in-manila-where-do-i-apply-first.md</string>
		</array>
		<array>
			<string>2013-03-21-better-opportunities-best-answers-neat-resume-and-remember-details.md</string>
		</array>
		<array>
			<string>2013-02-23-how-to-prepare-for-opportunities.md</string>
		</array>
		<array>
			<string>2012-12-26-reader-submitted-tips-from-waiter-to-call-center-agent.md</string>
		</array>
		<array>
			<string>2012-10-23-how-to-have-super-powers.md</string>
		</array>
		<array>
			<string>2012-10-22-27-tips-to-help-you-get-hired-in-a-call-center.md</string>
		</array>
		<array>
			<string>2012-10-18-practice-english-at-a-drinking-session.md</string>
		</array>
		<array>
			<string>2012-10-13-ten-small-things-that-give-me-an-advantage-when-looking-for-work.md</string>
		</array>
		<array>
			<string>2012-10-08-how-to-overcome-your-super-shy-self-with-one-exercise.md</string>
		</array>
		<array>
			<string>2012-10-02-how-to-level-up-and-get-hired-in-a-call-center.md</string>
		</array>
		<array>
			<string>2012-09-25-six-things-i-did-right-that-got-me-hired-in-a-call-center.md</string>
		</array>
		<array>
			<string>2012-09-20-how-to-build-a-call-center-resume-from-scratch-no-work-experience.md</string>
		</array>
		<array>
			<string>2012-09-18-solve-problems-by-offering-solutions.md</string>
		</array>
		<array>
			<string>2012-09-18-how-to-turn-a-disadvantage-into-a-perk.md</string>
		</array>
		<array>
			<string>2012-09-10-call-center-job-interview-preparation-questions.md</string>
		</array>
		<array>
			<string>2012-09-02-what-can-a-shy-person-do.md</string>
		</array>
		<array>
			<string>2012-08-22-how-to-connect-your-strength-weakness-or-experience-to-why-you-want-to-work-in-a-call-center.md</string>
		</array>
		<array>
			<string>2012-08-09-how-to-write-a-resume-for-call-center-application.md</string>
		</array>
		<array>
			<string>2012-07-18-how-far-will-attitude-and-skills-take-you.md</string>
		</array>
		<array>
			<string>2012-06-15-welcome.md</string>
		</array>
		<array>
			<string>2017-10-10-smart-notebook.md</string>
		</array>
		<array>
			<string>2018-01-11-dream-job.md</string>
		</array>
		<array>
			<string>2018-01-19-find-good.md</string>
		</array>
		<array>
			<string>2018-01-26-arrogance.md</string>
		</array>
		<array>
			<string>2018-02-25-Final-Interview-FIL.md</string>
		</array>
		<array>
			<string>2018-03-04-Count-Blessings.md</string>
		</array>
		<array>
			<string>2018-03-28-Basics.md</string>
		</array>
		<array>
			<string>2018-03-28-English-Tips.md</string>
		</array>
		<array>
			<string>2018-03-28-Job-Application.md</string>
		</array>
		<array>
			<string>2018-03-29-recommended-podcasts.md</string>
		</array>
		<array>
			<string>2018-06-24-personality-test.md</string>
		</array>
		<array>
			<string>2018-06-29-beginner-tips.md</string>
		</array>
		<array>
			<string>2018-07-05-smarthpone-shyness.md</string>
		</array>
		<array>
			<string>2018-07-11-call-simulation.md</string>
		</array>
		<array>
			<string>2018-07-17-small.md</string>
		</array>
		<array>
			<string>2018-08-13-deserve-skills.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>028c98a03ab692582aa90a9279737b771dd9c8a683dd65be5299a94b71e3d5d5</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
