--- 
layout: page
title: CERTIFICATE VERIFICATION
date: 2021-03-18 10:56
permalink: /certificate-verification/ 
author: Kevin Olega 
--- 
Hi there!

Thank you for scanning the QR code in our certificate of completion.

Please fill out the form below to verify the student named in the certificate.

We assist potential employers who want to confirm if the student has completed our program.

You may also send an email containing the following message.

I would like to confirm if the student has completed the program.

Here are the student details.

Complete Name of Student
Email Address
Date on Certificate

We will check our records and update you if the student has completed our program.

Thanks.