---
layout: default
---
<h1 class="post-headline">{{page.title}}</h1>
<div class="meta"><span>{{page.date | date: '%B %d, %Y'}}</span> {% if page.author %}
        • written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</div>
{% include advertisements.html %}
{{content}}
{% include advertisements.html %}
<p>Do you want more of these kinds of posts? Please let me know by sending me a message. I do my best to answer everyone's message when I’m online.</p>
<p>This is not a sponsored post so if you read until the end, show your love and support. <a href="http://callcentertrainingtips.com/promos/">Buy our books</a>. <a href="http://callcentertrainingtips.com/support/">Make a donation</a> to keep this site alive. Subscribe on <a href="https://www.facebook.com/callcentertrainingtips/">Facebook</a> and <a href="https://www.youtube.com/channel/UCSRyiovg_InMdQAe7Fn0LtA">YouTube</a>. When you’re done, share this with your friends.</p>
<p><a href="http://eepurl.com/riFT1">Stay in touch by signing up to my email list and join our growing list of subscribers.</a></p>
<p>We may never meet but I'm happy I am able to contribute to your life through my writing. Thank you for reading and thank you for your attention. Always remember that if I can do it, you can do it too. Successful people people are willing to be uncomfortable and do what unsuccessful people are willing to do so that they are able to build the kind of life and qualify for the kind of benefits that unsuccessfull people will never have. I am always praying for your success.</p>
{% include advertisements.html %}
<p>Do you have a question or just want to say something? Leave a comment. I read all of them.</p>
<!-- Comments only for posts -->
{% if page.path contains '_posts' %}
    {% if site.disqus-shortname %}
        {% include disqus.html %}
    {% endif %}
{% endif %}
