---
layout: default
---
<h1 class="post-headline">{{page.title}}</h1>
<div class="meta"><span>{{page.date | date: '%B %d, %Y'}}</span>  written by {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</div>
{% include advertisements.html %}
{{content}}
{% include advertisements.html %}
<p>Do you want more of these kinds of posts? Please let me know by sending me a message. I’ll do my best to answer when I’m online.</p>
<p>This is not a sponsored post so if you read until the end, show your love and support. <a href="http://callcentertrainingtips.com/promos/">Buy our books</a>. <a href="http://callcentertrainingtips.com/support/">Make a donation</a> to keep this site alive. Subscribe on <a href="https://www.facebook.com/callcentertrainingtips/">Facebook</a> and <a href="https://www.youtube.com/channel/UCSRyiovg_InMdQAe7Fn0LtA">YouTube</a>. When you’re done, share this with your friends.</p>
<p><a href="http://eepurl.com/riFT1">Stay in touch by signing up to my email list</a></p>
<p>Thank you for reading. If I can do it, you can do it. Praying for your success.</p>
{% include advertisements.html %}
<p>Have a question or just want to say something? Leave a comment. I read all of them.</p>
<!-- Comments only for posts -->
{% if page.path contains '_posts' %}
    {% if site.disqus-shortname %}
        {% include disqus.html %}
    {% endif %}
{% endif %}
