---
layout: default
---
<h1 class="post-headline">{{page.title}}</h1>
<div class="meta"><span>{{page.date | date: '%B %d, %Y'}}</span> {% if page.author %}
        • written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</div>
{% include advertisements.html %}
{{content}}
{% include advertisements.html %}
<p>Thank you for reading this far and thank you for your attention.</p>
<p>If you made it this far,<strong><a href="https://callcentertrainingtips.com/contact/">you should introduce yourself</a></strong>.</p>
<p>I am praying for your success. God bless!</p>
<h3>Do you want more lessons?</h3> 
<p><a href="https://callcentertrainingtips.com/6WEL250/">Click here to get our affordable six week English lessons</a>!</p>
<p><a href="https://www.paypal.me/kevinolega">DONATE and support my work</a>.</p>
<p><a href="https://www.youtube.com/user/CCTTshow">Watch FREE Video Lessons</a>.</p>
<p><strong><a href="http://eepurl.com/riFT1">>CLICK HERE TO GET FREE EMAIL LESSONS!!!<</a></strong></p>
<p>Always remember that if I can do it, you can do it too.</p>
<p><a href="https://callcentertrainingtips.com/testimonials/">MY LESSONS ALREADY HELPED HUNDREDS OF FILIPINOS GET HIRED IN A CALL CENTER</a>.</p> 

<p><img src="{{ site.url }}/images/cctt.jpeg"></a></p>
{% include advertisements.html %}
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
  <p><iframe src="https://duckduckgo.com/search.html?site=callcentertrainingtips.com&prefill=Search Call Center Training Tips" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
</p>
</div>
<!-- Comments only for posts -->
{% if page.path contains '_posts' %}
    {% if site.disqus-shortname %}
        {% include disqus.html %}
    {% endif %}
{% endif %}